.entity_result {
    padding: 10px 15px 10px 15px;
    color: #444;
    font-family: sans-serif;
    font-size: 14px;
}
.entity_result:not(.disabled) {
    cursor: pointer;
}
.entity_result:not(.disabled):hover {
    color: black;
    background: white;
}

.disabled {
    color: #AAA;
}
