.entity_result {
	padding: 5px 5px 5px 15px;
	border-bottom: 1px solid #f6f6f6;
	cursor: pointer;
}

.entity_result:hover {
	color: #606060;
}

.disabled {
	color: #aaa;
}
.disabled:hover {
	color: #aaa;
}