html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: serif;
}

#map {
    width: 100%;
    height: 100%;
}

#search_box, #result_box, #selection_box, #details_box {
    background: rgba(255,255,255,0.9);
    border-radius: 3px;
    border-bottom: 2px solid rgb(153, 153, 153);
}

#search_box, #result_box, #right_container {
    position: absolute;
}

#search_box {
    top: 20px;
    left: 20px;
    height: 32px;
}
#search_textbox {
    width: 300px;
}
#result_box {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    top: 49px;
    left: 20px;
    width: 300px;
    display: none;
    overflow: auto;
    z-index: 1000;
}
#right_container {
    top: 0;
    right: 0;
    box-sizing: border-box;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    width: 30%;
    height: 100%;
    
    display: flex;
    flex-flow: column;
}
#details_box {
    box-sizing: border-box;
    margin-top: 2px;
    width: 100%;
    overflow-y: auto;
    
    flex: 1;
}
