header {
	font-size: 20px;
	font-weight: bold;
	color: black;

	padding: 12px;
}

section {
	padding: 12px;
}

.data_box {
	margin-bottom: 15px;
}

.predicate {
	font-weight: bold;
}

.object:hover {
	color: #404040;
	cursor: pointer;
}

.right_text {
	text-align: right;
}