#selection_box {
    padding: 12px;
    padding-top: 8px;
}

#selection_box header {
    font-size: 31px;
    font-weight: bold;
    color: black;
}

.msc {
    color: #404040;
    font-weight: bold;
}

.path {
    color: #999;
    font-size: 12px;
    font-weight: normal;
    font-family: sans-serif;
    padding-top: 5px;
}

#selection_box .external_link {
    float: right;
    width: 22px;
    margin: 4px;
}
#selection_box header {
    display: inline;
}

.hidden {
    display: none;
}