header {
	font-size: 20px;
	font-weight: bold;
	color: black;

	padding: 12px;
}

section {
	padding: 12px;
}

.data_property {
	width: 100%;
	text-align: inter-word;
}

.data_box {
	margin-bottom: 15px;
}

.predicate {
	font-weight: bold;
}

.object_uri:hover {
	color: #404040;
	cursor: pointer;
}

.right_text {
	text-align: right;
}

.msc {
	text-decoration: underline;
}

a {
	color: black;
}
a:hover {
	color: #404040;
	text-decoration: none;
}

#dbpedia_logo {
	width: 30px;
}

#wikipedia_logo {
	width: 30px;
}

#rdf_types {
	color: #606060;
	font-size: 15px;
}