#search_textbox {
	height: 34px;
	width: 250px;
	margin-top: -1px;
	font-size: 16px;
}

#search_button {
	display: inline-block;
	height: 32px;
	width: 44px;
	text-align: center;
}

#search_button {
	cursor: pointer;
}