/* debug */

.debug {
    vector-effect: non-scaling-stroke;
    stroke-width: 3px;
    fill: none;
    display: none;
}


/* cartography */

svg {
    background: #D8D6CC;
}

#land {
    
}

.land-glow-outer, .land-glow-inner {
     stroke-linejoin: round;
}
.land-glow-outer {
  stroke: rgba(30,0,0,0.03);
  stroke-width: 3;
  fill: none;
}

.land-glow-inner {
  stroke: rgba(40,0,0,0.1);
  stroke-width: 1;
  fill: none;
}

.high.boundary {
    stroke: #333;
}
.low.boundary {
    stroke: #F5F4E6;
}
.boundary {
  fill: none;
  pointer-events: none;
  vector-effect: non-scaling-stroke;
}

.city path {
    fill: #333;
    stroke: #333;
}

@font-face {
  font-family: 'Lacuna';
  src: url('lacuna.ttf');
}

.city text {
    font-family: 'Lacuna';
    font-size: 1.7px;
    font-weight: bold;
    fill: #333;
}

/* hex cells */
.hex_cell {
    vector-effect: non-scaling-stroke;
    stroke-width: 4px;
}


/* overlays */

@keyframes cursor_pulse {
  from { stroke: yellow; }
  50% { stroke: brown; }
  to { stroke: yellow; }
}
@-webkit-keyframes cursor_pulse {
  from { stroke: yellow; }
  50% { stroke: brown; }
  to { stroke: yellow; }
}

.cursor {
  fill: none;
  pointer-events: none;
  
  animation-name: cursor_pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: cursor_pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.relation {
  vector-effect: non-scaling-stroke;
  stroke: white;
  stroke-width: 1px;
  fill: none;
  pointer-events: none;
}