/* debug */

.debug {
    vector-effect: non-scaling-stroke;
    stroke-width: 3px;
    fill: none;
    display: none;
}

/* hidden class */
.hidden {
    display: none;
}

/* prevent text selection highlighting */
#map {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* cartography */

#map {
    background: #C8B9BD;
}

.land-glow-outer, .land-glow-inner {
    stroke-linejoin: round;
}
.land-glow-outer {
  stroke: rgba(30,0,0,0.03);
  stroke-width: 3;
  fill: none;
}

.land-glow-inner {
  stroke: rgba(40,0,0,0.1);
  stroke-width: 1;
  fill: none;
}

.high.boundary {
    stroke: #333;
}
.low.boundary {
    stroke: white;
}
.boundary {
  fill: none;
  pointer-events: none;
  vector-effect: non-scaling-stroke;
}

.high_region {
    vector-effect: non-scaling-stroke;
    fill: none;
    stroke-linejoin: round;
    stroke-opacity: 0.5;
}

.city path {
    fill: #333;
    stroke: #333;
}

@font-face {
  font-family: 'Lacuna';
  src: url('lacuna.ttf');
}

.label.halo {
    stroke: #D8D6CC;
    fill: #D8D6CC;
    stroke-width: 0.5px;
    vector-effect: non-scaling-stroke;
    stroke-opacity: 0.8;
}

.city text {
    font-family: 'Lacuna';
    font-size: 1.7px;
    font-weight: bold;
    fill: #333;
}
.city:hover {
    cursor: pointer;
}
.city:hover .foreground {
    fill: #D22;
}
.city:hover path {
    fill: #D22;
    stroke: #D22;
}

.region_label text {
    font-family: 'Lacuna';
    font-size: 2.2px;
    font-weight: bold;
    fill: #333;
    text-anchor: middle;
    text-transform: uppercase;
    text-align: center;
}
.region_label:hover {
    cursor: pointer;
}
.region_label:hover .foreground {
    fill: #D22;
}

/* hex cells */
.hex_cell {
    vector-effect: non-scaling-stroke;
    stroke-width: 4px;
}


/* overlays */
.cursor {
    pointer-events: none;
}
.cursor .hex_cell {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}
.cursor .placemark_symbol {
  fill: yellow;
  stroke: black;
}
.cursor .placemark_dot {
  fill: black;
}

.relation_end {
  stroke: rgb(231, 26, 65);
  fill: rgb(231, 26, 65);
  cursor: pointer;
  stroke-width: 4px;
}
.relation_end:hover {
  stroke: red;
  fill: red;
  stroke-width: 5px;
}